.aside {
    width: 192px; /* 변경: 고정 너비 192px 설정 */
    height: 100vh; /* 변경: 세로 전체 높이로 설정 */
    position: fixed; /* 변경: 고정 위치로 설정 */
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #3B444B;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 변경: 세로 가운데 정렬 */
    align-items: center;
    padding-top: 20px; /* 변경: 상단 여백 추가 */
    box-sizing: border-box;
}

.aside-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.aside-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px; /* 변경: 아이콘 간격 추가 */
}

.aside-icon img {
    width: 50px;
    height: 50px;
}

.aside-icon span {
    font-size: 20px; /* 변경: 글자 크기 설정 */
    margin-top: 20px; /* 변경: 글자와 아이콘 간격 추가 */
    color: #ffffff;
}
