.header {
    width: 100%;
    height: 82px;
    position: sticky;
    top: 0;
    z-index: 90;
    background-color: white;
    /*border-bottom: 1px solid rgb(175, 175, 175);*/
}

.header-area {
    width: 1792px;
    margin: 0 auto; /* 변경: auto 값 수정 */
    height: 100%;
}

.header-logo{
    height: 100%;
    margin-left: 80px
}

.header-detail-area {
    display: flex;
    justify-content: space-between; /* 변경: 중앙 정렬을 위해 space-between으로 수정 */
    align-items: center;
    box-sizing: border-box;
}

.header-flex-space {
    flex-grow: 1; /* 변경: 중앙 공간을 채우기 위해 flex-grow 속성 추가 */
}
