.main {
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
    background-color: #dedede;
    display: flex;
}

.main-content-list {
    display: grid;
    grid-template-columns: 700px 430px;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 20px ;
    margin-left: 40px;
}

.commute, .calendar, .mail, .board {
    width: 700px;
    height: 100%;
    background-color: #ffffff;
}

