/* mainaside.css */
.main-aside {
    width: 276px;
    height: 900px;
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 20px;
}

.profile-box {
    width: 100%;
    height: 360px;
    background-color: #3b444b;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.main-aside-empty {
    width: 100%;
    height: 1px;
}

.team-menu-bar {
    width: 100%;
    height: 520px;
    background-color: #ffffff;
    margin-top: 50px;
    border-radius: 10px;
}

.profile-img {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d9d9d9;
    margin-top: 10px;
}

.employee {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-top: 50px;
}

.info-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}

.myinfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffffff;
    margin-top: 20px;
}

.myinfo span {
    margin-right: 10px;
}

.header-profile-img-2{
    margin-top: 40px;
    width: 110px;
    height: 100px;
}
.approval {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffffff;
    margin-top: 10px;
}

.approval span {
    margin-right: 10px;
}

.approval-count{
    margin-left: 90px;
}

.vacation-count{
    margin-left: 110px;
}

.vacation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #ffffff;
    margin-top: 10px;
}

.vacation span {
    margin-right: 10px;
}

.team-menu-bar {
    width: 100%;
    height: 450px;
    background-color: #ffffff;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    padding: 20px;
}

.team-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mail-box {
    margin-top: 20px;
}

.sub-menu {
    font-weight: bold;
}

.sub-menu ul {
    padding-left: 15px;
    margin-top: 5px;
}

.sub-menu ul li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.sub-menu ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #632d18;
    margin-right: 10px;
}

.sub-menu ul li a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #632d18;
}



