<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">
  
  <select id="getPositionList" resultType="com.hotelsolution.fire.approval.vo.PositionVo">
  	
  	SELECT 
  	NO
	,P_LEVEL
	,NAME
	,VACATION
  	FROM POSITION
  	
  </select>
  
  <select id="getTeamList" resultType="com.hotelsolution.fire.approval.vo.TeamVo">
  
  	SELECT 
  		TEAM_NO
		,TEAM_NAME
  	 FROM TEAM
  
  </select>
  
  <select id="getEmployee" resultType="MemberVo" parameterType="java.util.Map">
  	<!-- SELECT
  		TEAM_NO  AS TEAMNO
  		,POSITION_NO AS POSITIONNO
  		,NAME
  		
  		FROM MEMBER WHERE
  		TEAM_NO = #{teamNo}
  		<![CDATA[
  		AND POSITION_NO = #{positionNo}
  		]]> -->
  		
  		SELECT
  		m.TEAM_NO  
  		,m.POSITION_NO 
  		,m.NAME
  		,m.NO
  		,p.NAME	AS POSITION_NAME
        ,t.TEAM_NAME
  		FROM MEMBER m
        JOIN TEAM t ON m.TEAM_NO = t.TEAM_NO
        JOIN POSITION p ON m.POSITION_NO = p.NO
  		<![CDATA[
        WHERE
  		m.TEAM_NO = #{teamNo}
  		AND m.POSITION_NO = #{positionNo}
  		]]>
  </select>
  
  <select id="getDecideEmployee" resultType="MemberVo" parameterType="java.util.Map">
  
  	 SELECT
  	M.NAME
  	,M.APPROVAL_POWER
  	,M.NO
  	,P.NAME AS POSITION_NAME
  	,T.TEAM_NAME
  	FROM MEMBER M
  	JOIN TEAM T ON M.TEAM_NO = T.TEAM_NO
  	JOIN POSITION P ON M.POSITION_NO = P.NO
  	
  	
  
  </select>
  
  <select id="getDocumentVactionNo" resultType="com.hotelsolution.fire.approval.vo.DocumentVo" parameterType="java.util.Map">
  	
  	SELECT
  	DOCUMENT_TYPE_NO 
  	,DOCUMENT_TYPE_NAME
  	FROM APPROVAL_DOCUMENT_TYPE
    WHERE DOCUMENT_TYPE_NO = 1
  	
  </select>
  
  <select id="getDocumentExpenditureNo" resultType="com.hotelsolution.fire.approval.vo.DocumentVo" parameterType="java.util.Map">
  	
  	SELECT
  	DOCUMENT_TYPE_NO 
  	,DOCUMENT_TYPE_NAME
  	FROM APPROVAL_DOCUMENT_TYPE
    WHERE DOCUMENT_TYPE_NO = 2
  	
  </select>
  
  <select id="getDocumentReportNo" resultType="com.hotelsolution.fire.approval.vo.DocumentVo" parameterType="java.util.Map">
  	
  	SELECT
  	DOCUMENT_TYPE_NO 
  	,DOCUMENT_TYPE_NAME
  	FROM APPROVAL_DOCUMENT_TYPE
    WHERE DOCUMENT_TYPE_NO = 3
  	
  </select>
  
  <!-- <select id="getDocumentType" resultType="com.hotelsolution.fire.approval.vo.DocumentVo" parameterType="java.util.Map">
  	
  	SELECT
  	DOCUMENT_TYPE_NO 
  	,DOCUMENT_TYPE_NAME
  	FROM APPROVAL_DOCUMENT_TYPE
    
  	
  </select> -->
  
  <insert id="insertApprovalDocument">
  	INSERT INTO APPROVAL_DOCUMENT
		(NO
		,TYPE_NO
		,USER_NO
		,TITLE
		,CONTENT
		)
		VALUES 
		(SEQ_APPROVAL_DOCUMENT_NO.NEXTVAL 
		, #{typeNo} 
		, #{userNo} 
		, #{title}
		, #{content}
		)
  </insert>
  
  <select id="getDocumentNo" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo">
  	SELECT * FROM APPROVAL_DOCUMENT
	WHERE USER_NO = #{no}
	ORDER BY NO DESC
	FETCH FIRST ROW ONLY
  </select>
  
	<update id="updateDocumentApproval" parameterType="java.util.Map">
		UPDATE APPROVAL_DOCUMENT
		SET 
		TITLE = #{title}
		,CONTENT = #{content}
		WHERE NO = #{avoNo}
	</update>
	
	<insert id="vacation" parameterType="java.util.Map">
	 INSERT INTO VACATION_APPLY
	 (NO
	 ,APP_NO
	 ,VACATION_START
	 ,VACATION_END
	 )
	 VALUES(
	 SEQ_VACATION_APPLY_NO.NEXTVAL
	 ,#{appNo}
	 ,#{vacationStart}
	 ,#{vacationEnd})
	 
	</insert>
	
	
	<update id="updateDocumentReport" parameterType="java.util.Map">
		UPDATE APPROVAL_DOCUMENT
		SET
		TITLE = #{title}
		,CONTENT = #{content}
		WHERE NO = #{avoNo}
	</update>
	
	<insert id="report" parameterType="java.util.Map">
	
	INSERT INTO BUSINESS_REPORT
	(
		NO
		,APP_NO
		,COMPLETION_DATE
		,SUGGESTIONS	
	)
	VALUES
	(
		SEQ_BUSINESS_REPORT_NO.NEXTVAL
		,#{avoNo}
		,#{completed}
		,#{suggestions}
	)
	
	</insert>
	
	<select id="getItemList" resultType="com.hotelsolution.fire.approval.vo.ItemVo">
	
		SELECT * FROM ITEM_MANAGER
	
	</select>
	
	<update id="updateDocumentExpenditure" parameterType="java.util.Map">
		
		UPDATE APPROVAL_DOCUMENT
		SET
		TITLE = #{title}
		WHERE NO = #{avoNo}
	
	</update>
	
	<insert id="expenditure">
		INSERT INTO PURCHASE_REQUISITION
		(
			NO
			,APP_NO
			,PRICE
		)
		VALUES
		(
			SEQ_PURCHASE_REQUISITION_NO.NEXTVAL
			,#{appNo}
			,#{totalPrice}
		)
	</insert>
	
	<select id="getExpenditureNo" resultType="com.hotelsolution.fire.approval.vo.ExpenditureVo">
	SELECT * FROM PURCHASE_REQUISITION
	WHERE APP_NO = #{avoNo}
	ORDER BY NO DESC
	FETCH FIRST ROW ONLY
	</select>


	 <insert id="expenditureItemList" parameterType="java.util.Map">
		
		INSERT INTO PURCHASE_ITEMLIST
		(
			NO
			,ITEM_NO
			,PURCHASE_REQUISITION_NO
			,COUNT
		)
		VALUES
		(
			SEQ_PURCHASE_ITEMLIST_NO.NEXTVAL
			,#{item}
			,#{keyNo}
			,#{count}
		)
	
	</insert> 
	
	<select id="getApproval" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo" parameterType="java.util.Map">
	
		SELECT
	     A.NO
	    ,A.TYPE_NO
	    ,A.USER_NO
	    ,A.TITLE
	    ,A.CONTENT
	    ,A.AD_YN
	    ,A.ENROLL_DATE
	    ,A.END_DATE
	    ,T.DOCUMENT_TYPE_NAME
	   FROM
	   APPROVAL_DOCUMENT A
	   JOIN APPROVAL_DOCUMENT_TYPE T
	   ON A.TYPE_NO = T.DOCUMENT_TYPE_NO
	   WHERE A.TITLE IS NOT NULL AND USER_NO = #{no}
	   ORDER BY NO DESC
	
	</select>
	
	<select id="getApprovalFirstPageCnt" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(NO)
		FROM APPROVAL_DOCUMENT
		WHERE TITLE IS NOT NULL
		AND USER_NO = #{no}
	</select>
	
	<insert id="approver">
	
	 INSERT INTO APPROVER
	   (
	    NO
	    ,APPROVAL_DOC_NO
	    ,STATUS_NO
	    ,APP_NO
	    ,PRIORITY
	   )
	   VALUES
	   (
	    SEQ_APPROVER_NO.NEXTVAL
	    ,#{approvalDocNo}
	    ,#{statusNo}
	    ,#{appNo}
	    ,#{priority}
	   )	
	
	</insert>
	
	<insert id="referrer">
	
	INSERT INTO APPROVAL_REFERRER
	   (
	    NO
	    ,APPROVAL_NO
	    ,REFERRER_NO
	   )
	   VALUES
	   (
	    SEQ_APPROVAL_REFERRER_NO.NEXTVAL
	    ,#{approvalNo}
	    ,#{referrerNo}
	   )	
		
	
	</insert>
	
	<select id="getApprovalCnt" resultType="int">
	
		SELECT COUNT(NO)
		FROM APPROVER
        WHERE APP_NO = #{no}
		
	</select>
	
	<select id="getMyApproval" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo" parameterType="java.util.Map">
	
		SELECT 
	    A.NO
	    ,A.TYPE_NO
	    ,A.USER_NO
	    ,A.TITLE
	    ,A.CONTENT
	    ,A.AD_YN
	    ,A.ENROLL_DATE
	    ,V.PRIORITY
	    ,S.NAME AS STATUS_NAME
	    ,T.DOCUMENT_TYPE_NAME
	    ,P.NAME AS POSITION_NAME
	    ,TM.TEAM_NAME
	    ,M.NAME AS SEND_NAME
	    FROM APPROVAL_DOCUMENT A
	    JOIN APPROVER V
	    ON A.NO = V.APPROVAL_DOC_NO
	    JOIN APPROVAL_STATUS S
	    ON V.STATUS_NO = S.NO
	    JOIN APPROVAL_DOCUMENT_TYPE T
	    ON A.TYPE_NO = T.DOCUMENT_TYPE_NO
	    JOIN MEMBER M
	    ON A.USER_NO = M.NO
	    JOIN POSITION P
	    ON P.NO = M.POSITION_NO
	    JOIN TEAM TM
	    ON TM.TEAM_NO = M.TEAM_NO
	    WHERE V.APP_NO = #{no}
	    ORDER BY NO DESC
	
	</select>
	
	<select id="getReferrCnt" resultType="int">
		
		SELECT COUNT(NO)
		FROM APPROVAL_REFERRER
		WHERE REFERRER_NO = #{no}
        
	</select>
	
	<select id="getReferenceApproval" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo" parameterType="java.util.Map">
		
		SELECT
	     A.NO
	    ,A.TYPE_NO
	    ,A.USER_NO
	    ,A.TITLE
	    ,A.CONTENT
	    ,A.AD_YN
	    ,A.ENROLL_DATE
	    ,A.END_DATE
	    ,T.DOCUMENT_TYPE_NAME
        ,M.NAME AS SEND_NAME
        ,P.NAME AS POSITION_NAME
        ,TM.TEAM_NAME
	   FROM
	   APPROVAL_DOCUMENT A
	   JOIN APPROVAL_DOCUMENT_TYPE T
	   ON A.TYPE_NO = T.DOCUMENT_TYPE_NO
       JOIN APPROVAL_REFERRER R
       ON A.NO = R.APPROVAL_NO
       JOIN MEMBER M
        ON A.USER_NO = M.NO
	    JOIN POSITION P
	    ON P.NO = M.POSITION_NO
	    JOIN TEAM TM
	    ON TM.TEAM_NO = M.TEAM_NO
	   WHERE A.TITLE IS NOT NULL AND REFERRER_NO = #{no}
	   ORDER BY NO DESC
		
	</select>
	
	<select id="vacationDetail" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo">
	
		SELECT
	     A.NO
	    ,A.TYPE_NO
	    ,A.USER_NO
	    ,A.TITLE
	    ,A.CONTENT
	    ,A.AD_YN
	    ,A.ENROLL_DATE
	    ,A.END_DATE
        ,V.VACATION_START
        ,V.VACATION_END
        ,M.NAME AS WRITER_NAME
        ,P.NAME AS POSITION_NAME
        ,TM.TEAM_NAME
        FROM
        APPROVAL_DOCUMENT A
        JOIN MEMBER M
        ON A.USER_NO = M.NO
        JOIN VACATION_APPLY V
        ON A.NO = V.APP_NO
        JOIN POSITION P
	    ON P.NO = M.POSITION_NO
	    JOIN TEAM TM
	    ON TM.TEAM_NO = M.TEAM_NO
        WHERE A.TYPE_NO = 1
        AND A.NO = #{no}
	
	</select>
	
	<select id="getApprover" resultType="com.hotelsolution.fire.approval.vo.ApproverVo">
	
		SELECT
        A.NO
        ,A.APPROVAL_DOC_NO
        ,A.STATUS_NO
        ,A.APP_NO
        ,A.PRIORITY
        ,M.NAME AS APPROVER_NAME
        ,ST.NAME AS STATUS_NAME
        FROM APPROVER A
        JOIN MEMBER M
        ON M.NO = A.APP_NO
        JOIN APPROVAL_STATUS ST
        ON A.STATUS_NO = ST.NO
        WHERE APPROVAL_DOC_NO = #{no}
	
	</select>
	
	<select id="getReferrer" resultType="com.hotelsolution.fire.approval.vo.ApprovalReferrerVo">
	
		SELECT 
        AR.NO
        ,AR.APPROVAL_NO
        ,AR.REFERRER_NO
        ,M.NAME AS REFERRER_NAME
        FROM 
        APPROVAL_REFERRER AR
        JOIN MEMBER M
        ON M.NO = AR.REFERRER_NO
        WHERE APPROVAL_NO = #{no}
	
	</select>
	
	<select id="expenditureDetail" resultType="com.hotelsolution.fire.approval.vo.ApprovalVo">
		
		 SELECT
	     A.NO
	    ,A.TYPE_NO
	    ,A.USER_NO
	    ,A.TITLE
	    ,A.CONTENT
	    ,A.AD_YN
	    ,A.ENROLL_DATE
	    ,A.END_DATE
        ,M.NAME AS WRITER_NAME
        ,P.NAME AS POSITION_NAME
        ,TM.TEAM_NAME
        FROM
        APPROVAL_DOCUMENT A
        JOIN MEMBER M
        ON A.USER_NO = M.NO
        JOIN POSITION P
	    ON P.NO = M.POSITION_NO
	    JOIN TEAM TM
	    ON TM.TEAM_NO = M.TEAM_NO
        WHERE A.TYPE_NO = 2
        AND A.NO = #{no}
		
	</select>
	
	<select id="getItemInfo" resultType="com.hotelsolution.fire.approval.vo.ItemVo">
	
		SELECT
	     P.NO
	     ,P.APP_NO
	     ,P.PRICE AS TOTAL_PRICE
	     ,ITEM.COUNT
	     ,MA.NAME
	     ,MA.PRICE
	     FROM 
	     PURCHASE_REQUISITION P
	     JOIN PURCHASE_ITEMLIST ITEM
	     ON P.NO = ITEM.PURCHASE_REQUISITION_NO
	     JOIN ITEM_MANAGER MA
	     ON ITEM.ITEM_NO = MA.ITEM_NO
	     WHERE P.APP_NO = #{no}
	
	</select>
	
</mapper>