<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatRoom">

	<insert id="create" parameterType="java.util.Map">
		    INSERT INTO CHAT_ROOM (
		      	NO
				,USER1_NO
				,USER2_NO
				,UPDATE_TIME1
				,UPDATE_TIME2
				
		    )
		    VALUES (
		        SEQ_CHAT_ROOM_NO.NEXTVAL
		        ,#{user1No}
		        ,#{user2No}
		        ,SYSDATE
		        ,SYSDATE
		        
		    )
	</insert>
	<select id="getCreateChatRoomVo" resultType="com.hotelsolution.fire.common.chat.vo.ChatRoomVo" parameterType="java.util.Map">
		SELECT 
		    CR.NO
		    ,CR.USER1_NO AS USER1NO
		    ,CR.USER2_NO AS USER2NO
		    ,CR.UPDATE_TIME1 AS UPDATETIME1
            ,M.NO
            ,U.NO
            ,M.POSITION_NO
            ,U.POSITION_NO
             ,M.NAME AS USER1NAME
            ,U.NAME AS USER2NAME
            ,M.CHANGE_IMAGE AS USER1IMAGE
            ,U.CHANGE_IMAGE AS USER2IMAGE
            ,M.TEAM_NO
            ,U.TEAM_NO
            ,P1.NAME AS USER1POSITIONNAME
            ,P2.NAME AS USER2POSITIONNAME
            ,T1.TEAM_NAME AS USER1TEAMNAME
            ,T2.TEAM_NAME AS USER2TEAMNAME
            
		    
		FROM CHAT_ROOM CR
        JOIN MEMBER M
        ON M.NO = CR.USER1_NO
        JOIN MEMBER U
        ON U.NO = CR.USER2_NO
        JOIN POSITION P1
        ON M.POSITION_NO= P1.NO
        JOIN POSITION P2 
        ON U.POSITION_NO =P2.NO 
        JOIN TEAM T1
        ON M.TEAM_NO=T1.TEAM_NO
        JOIN TEAM T2
        ON U.TEAM_NO = T2.TEAM_NO
		WHERE (USER1_NO = #{user1No} AND USER2_NO = #{user2No})
		    OR (USER1_NO = #{user2No} AND USER2_NO = #{user1No})

	</select>


	<update id="updateTime">
		UPDATE CHAT_ROOM
		 <choose>
		        <when test="user1No == loginMemberNo">
		            SET UPDATE_TIME1 = SYSDATE
		        </when>
		        <when test="user2No == loginMemberNo">
		            SET UPDATE_TIME2 = SYSDATE
		        </when>
		    </choose>
		  WHERE no = #{chatRoomNo}
		  
		
	</update>
	
	<select id="getChatRoomList" resultType="com.hotelsolution.fire.common.chat.vo.ChatRoomVo" parameterType="java.util.Map">
		SELECT 
		    CR.NO
		    ,CR.USER1_NO AS USER1NO
		    ,CR.USER2_NO AS USER2NO
		    ,CR.UPDATE_TIME1 AS UPDATETIME1
		    ,CR.UPDATE_TIME2 AS UPDATETIME2
            ,M.NO
            ,U.NO
            ,M.NAME AS USER1NAME
            ,U.NAME AS USER2NAME
            ,M.CHANGE_IMAGE AS USER1IMAGE
            ,U.CHANGE_IMAGE AS USER2IMAGE
            ,M.POSITION_NO
            ,U.POSITION_NO
            ,M.TEAM_NO
            ,U.TEAM_NO
            ,P1.NAME AS USER1POSITIONNAME
            ,P2.NAME AS USER2POSITIONNAME
            ,T1.TEAM_NAME AS USER1TEAMNAME
            ,T2.TEAM_NAME AS USER2TEAMNAME
            
		    
		FROM CHAT_ROOM CR
        JOIN MEMBER M
        ON M.NO = CR.USER1_NO
        JOIN MEMBER U
        ON U.NO = CR.USER2_NO
        JOIN POSITION P1
        ON M.POSITION_NO= P1.NO
        JOIN POSITION P2 
        ON U.POSITION_NO =P2.NO 
        JOIN TEAM T1
        ON M.TEAM_NO=T1.TEAM_NO
        JOIN TEAM T2
        ON U.TEAM_NO = T2.TEAM_NO
		WHERE (USER1_NO = #{loginMemberNo} or USER2_NO = #{loginMemberNo})
	
		  <if test="searchType == 'name'">
		      AND (M.NAME LIKE ('%'|| #{searchValue}|| '%') OR U.NAME LIKE ('%'|| #{searchValue}|| '%'))

		  </if>
		   <if test="searchType == 'positionName'">
		     AND (P1.NAME LIKE ('%'|| #{searchValue}|| '%') OR P2.NAME LIKE ('%'|| #{searchValue}|| '%'))

		  </if>
		 
		  
		  <if test="searchType == 'teamName'">
		    AND (T1.TEAM_NAME LIKE ('%'|| #{searchValue}|| '%') OR T2.TEAM_NAME LIKE ('%'|| #{searchValue}|| '%'))

		  </if>

	</select>
	
</mapper>
