<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyBoard">

	<select id="getAllCompanyBoardList" resultType="CompanyBoardVo">
		SELECT
    	b.no,
	    b.category_no,
	    bc.category_name,
	    b.writer_no,
	    m.name AS writerName,
	    t.team_name AS teamName,
	    b.title,
        <![CDATA[SUBSTR(REGEXP_REPLACE(REGEXP_REPLACE(b.content, '<img[^>]*>', ''), '<br([^>]*)>', ' '), 1, 30)]]> as content,
        b.enroll_date,	 
	    b.hit,
	    b.status
		FROM board b
		LEFT JOIN board_category bc ON b.category_no = bc.no
		LEFT JOIN member m ON b.writer_no = m.no
		LEFT JOIN team t ON t.team_no = m.team_no
		WHERE b.status = 'N'
		<if test="searchType != null and searchValue != null">
			AND ${searchType} LIKE '%' || #{searchValue} || '%'
		</if>
		ORDER BY b.no DESC
	</select>


	<select id="getAllCompanyBoardCnt" resultType="int">
		SELECT
		count(no)
		FROM board
		WHERE status = 'N'
		<if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">
			AND ${searchType} LIKE '%' || #{searchValue} || '%'
		</if>
	</select>


	<select id="getBoardCategoryList" resultType="CategoryVo">
		select
		no as categoryNo
		,category_name
		from board_category
	</select>

	<insert id="CompanyBoardPostByNo" parameterType="CompanyBoardVo">
		insert into board
		(
			no
			,category_no
			,writer_no
			,title
			,content
			,enroll_date
		)
		values
		(
			seq_board_no.nextval,
			#{categoryNo},
			#{writerNo},
			#{title},
			#{content},
			sysdate
		)
	</insert>

	<select id="increaseCompanyBoardHit" resultType="int">
		update board
		set hit = hit + 1
		where no = #{no}
	</select>


	<select id="getCompanyBoardDetailByNo" resultType="CompanyBoardVo">
		SELECT
		b.no,
		b.category_no,
		b.writer_no,
		b.title,
		b.content,
		b.enroll_date,
		b.hit,
		NVL(COUNT(bc.comment_no), 0) AS commentCount,
		m.name AS writerName
		FROM
		board b
		LEFT JOIN
		member m ON b.writer_no = m.no
		LEFT JOIN
		board_comment bc ON bc.board_no = b.no
		WHERE
		b.no =  #{no}
		GROUP BY
		b.no, b.category_no, b.writer_no, b.title, b.content, b.enroll_date, b.hit, m.name

	</select>

	<update id="deleteByNo">
		update board
		set status = 'O'
		where no=#{NO}
	</update>

	<select id="getBoardInfoByNo" resultType="CompanyBoardVo">
		select
		no
		,category_no
		,writer_no
		,title
		,content
		,enroll_date
		from board
		where no= #{no}
	</select>

	<insert id="writeCommentByNo">
		insert into
		board_comment
		(
		comment_no
		,board_no
		,writer
		,comment_content
		,enroll_date
		,status
		,parent_comment_no
		,comment_depth
		)
		values
		(
		seq_board_comment_no.nextval
		,#{boardNo}
		,#{writerNo}
		,#{commentContent}
		,sysdate
		,default
		,0
		,0
		)
	</insert>

	<update id="companyBoardEditByNo" parameterType="CompanyBoardVo">
		update board
		set
		category_no = #{categoryNo}
		,title = #{title}
		,content = #{content}
		where no = #{no}
	</update>

	<select id="getAllCommentListByNo" resultType="BoardCommentVo">
		select
		b.comment_no
		,b.board_no
		,b.writer as writerNo
		,b.comment_content
		,b.enroll_date
		,b.status
		,b.parent_comment_no
		,b.comment_depth
		,b.comment_group_no
		,m.name as writerName
		from board_comment b
		left join member m
		on b.writer = m.no
		where b.board_no = #{boardNo} and b.status = 'N'
		order by b.comment_no desc
	</select>

	<select id="getBoardCommentCnt" resultType="int">

		select count(comment_no) as listCount
		from board_comment
		where board_no = #{boardNo}

	</select>

	<delete id="deleteCommentOneByNo" parameterType="BoardCommentVo">

		delete
		from board_comment
		where comment_no = #{commentNo} and board_no = #{boardNo} and writer = #{writerNo}

	</delete>

	<update id="editCommentOneByNo" parameterType="BoardCommentVo">

		update board_comment
		set
		comment_content = #{commentContent}
		,enroll_date = sysdate
		where board_no = #{boardNo}
		and comment_no = #{commentNo}
		and writer = #{writerNo}


	</update>

	<select id="weekTopBoardList" resultType="CompanyBoardVo">
		<![CDATA[
            SELECT
                b.no,
                b.category_no,
                b.writer_no,
                b.title,
                m.name as writerName,
                SUBSTR(REGEXP_REPLACE(REGEXP_REPLACE(b.content, '<img[^>]*>', ''), '<br([^>]*)>', ' '), 1, 30) as content,
              	b.enroll_date
            FROM BOARD b
            LEFT JOIN member m
              ON b.writer_no = m.no
            WHERE b.STATUS = 'N'
            ORDER BY b.HIT DESC
            FETCH FIRST 6 ROWS ONLY
        ]]>
	</select>


	<select id="getBoardList" resultType="CompanyBoardVo">
		<![CDATA[
		SELECT
		b.no,
		b.category_no,
		b.writer_no,
		b.title,
		m.name as writerName,
		SUBSTR(REGEXP_REPLACE(REGEXP_REPLACE(b.content, '<img[^>]*>', ''), '<br([^>]*)>', ' '), 1, 30) as content
		FROM BOARD b
		left join member m
		on b.writer_no = m.no
		WHERE b.STATUS = 'N'
		ORDER BY b.no DESC
		FETCH FIRST 5 ROWS ONLY
		]]>
	</select>



</mapper>
