<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyBoard">

	<select id="getAllCompanyBoardList" resultType="CompanyBoardVo">

		select
		no
		,category_no,
		writer_no
		,title
		,content
		,enroll_date
		,hit
		,status
		from board
		where status = 'N'

	</select>

	<select id="getAllCompanyBoardCnt" resultType="int">
		select
		count(no)
		from board
		where status ='N'
	</select>

	<select id="getBoardCategoryList" resultType="CategoryVo">
		select
		no
		,category_name
		from board_category
	</select>

	<insert id="writeCompanyBoardPost" parameterType="CompanyBoardVo">
		insert into board
		(
			no
			,category_no
			,writer_no
			,title
			,content
			,enroll_date)
		values
		(
			seq_board_no.nextval,
			#{categoryNo},
			#{writerNo},
			#{title},
			#{content},
			#{enrollDate}
		)
	</insert>


</mapper>
