<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyBoard">

	<select id="getAllCompanyBoardList" resultType="CompanyBoardVo">

		SELECT
		b.no
		,b.category_no
		,b.writer_no
		,m.name as writerName
		,b.title
		,b.content
		,b.enroll_date
		,b.hit
		,b.status
		,t.team_name as teamName
		FROM board b
		LEFT JOIN member m
		ON b.writer_no = m.no
		LEFT JOIN team t
		ON m.position_no = t.team_no
		WHERE b.status = 'N'

	</select>

	<select id="getAllCompanyBoardCnt" resultType="int">
		select
		count(no)
		from board
		where status ='N'
	</select>

	<select id="getBoardCategoryList" resultType="CategoryVo">
		select
		no as categoryNo
		,category_name
		from board_category
	</select>

	<insert id="CompanyBoardPostByNo" parameterType="CompanyBoardVo">
		insert into board
		(
			no
			,category_no
			,writer_no
			,title
			,content
			,enroll_date
		)
		values
		(
			seq_board_no.nextval,
			#{categoryNo},
			#{writerNo},
			#{title},
			#{content},
			sysdate
		)
	</insert>

	<select id="increaseCompanyBoardHit" resultType="int">
		update board
		set hit = hit + 1
		where no = #{no}
	</select>


	<select id="getCompanyBoardDetailByNo" resultType="CompanyBoardVo">
		select
		b.no
		,b.category_no
		,b.writer_no
		,b.title
		,b.content
		,b.enroll_date
		,b.hit
		,m.name as writerName
		from board b
		left join member m
		on b.no = m.no
		where b.no= #{no}
	</select>

	<update id="deleteByNo">
		update board
		set status = 'O'
		where no=#{NO}
	</update>

	<select id="getBoardInfoByNo" resultType="CompanyBoardVo">
		select
		no
		,category_no
		,writer_no
		,title
		,content
		,enroll_date
		from board
		where no= #{no}
	</select>

	<insert id="writeCommentByNo">
		insert into
		board_comment
		(
		comment_no
		,board_no
		,writer
		,comment_content
		,enroll_date
		,status
		,parent_comment_no
		,comment_depth
		)
		values
		(
		seq_board_comment_no.nextval
		,#{boardNo}
		,#{writer}
		,#{commentContent}
		,sysdate
		,default
		,0
		,0
		)
	</insert>

	<update id="companyBoardEditByNo" parameterType="CompanyBoardVo">
		update board
		set
		category_no = #{categoryNo}
		,title = #{title}
		,content = #{content}
		,enroll_date = sysdate
		where no = #{no}
	</update>

	<select id="getAllCommentListByNo" resultType="BoardCommentVo">
		select
		b.comment_no
		,b.board_no
		,b.writer
		,b.comment_content
		,b.enroll_date
		,b.status
		,b.parent_comment_no
		,b.comment_depth
		,b.comment_group_no
		,m.name
		from board_comment b
		left join member m
		on b.writer = m.no
		where b.board_no = #{boardNo}
	</select>

	<select id="getBoardCommentCnt" resultType="int">

		select count(comment_no)
		from board_comment
		where board_no = #{no}

	</select>



</mapper>
