<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataroom">

	<select id="getDataRoomList" resultType="DataRoomVo">
	    SELECT 
	    	DATA_NO
			,WRITER_NO
			,CATEGORY_NO
			,SECURITY_LEVEL
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,HIT
			,DELETE_YN
	    
	    FROM DATAROOM
	    WHERE CATEGORY_NO = #{categoryNo}
	    AND DELETE_YN = 'N'
	</select>
	
	<insert id="writeDataroom">
	    INSERT INTO DATAROOM (
	      	DATA_NO
			,WRITER_NO
			,CATEGORY_NO
			,SECURITY_LEVEL
			,TITLE
			,CONTENT
			
	    )
	    VALUES (
	        SEQ_DATAROOM_NO.NEXTVAL
	        ,#{writerNo}
	        ,#{categoryNo}
	        ,#{securityLevel}
	        ,#{title}
	        ,#{content}
	    )
	</insert>
	
	<insert id="writeDataRoomFile">
	    INSERT INTO DATAROOM_FILE (
	      	NO
			,DATA_NO
			,FILE_NAME
			,CHANGE_NAME
			,FILE_EXPLAIN
			
	    )
	    VALUES (
	        SEQ_DATAROOM_FILE_NO.NEXTVAL
	        ,SEQ_DATAROOM_NO.CURRVAL
	        ,#{fileName}
	        ,#{changeName}
	        ,#{fileExplain}
	    )
	</insert>
	
	<select id="getDetailDrvo" resultType="DataRoomVo">
	    SELECT 
	    	DATA_NO
			,WRITER_NO
			,CATEGORY_NO
			,SECURITY_LEVEL
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,HIT
			,DELETE_YN
	    
	    FROM DATAROOM
	    WHERE DATA_NO = #{drvoNo}
	    AND DELETE_YN = 'N'
	</select>
	
	<select id="getDetailDrfoList" resultType="DataRoomFileVo">
	    SELECT 
	    	NO
			,DATA_NO
			,FILE_NAME
			,CHANGE_NAME
			,FILE_EXPLAIN
			,ENROLL_DATE
	    
	    FROM DATAROOM_FILE
	    WHERE DATA_NO = #{drvoNo}
	</select>
	
	<select id="getDataRoomCnt" resultType="int">
	  SELECT COUNT(DATA_NO)
	  FROM DATAROOM
	  WHERE CATEGORY_NO = #{categoryNo}
	</select>
	
	

</mapper>
