<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataroom">
	
	<select id="getDataRoomCnt" resultType="int" parameterType="java.util.Map">
		  SELECT COUNT(DATA_NO)
		  FROM (
		    SELECT 
		      D.DATA_NO,
		      D.WRITER_NO AS WRITER_NO,
		      D.CATEGORY_NO AS CATEGORY_NO,
		      D.SECURITY_LEVEL AS SECURITY_LEVEL,
		      D.TITLE AS TITLE,
		      D.CONTENT AS CONTENT,
		      D.ENROLL_DATE AS ENROLL_DATE,
		      D.HIT AS HIT,
		      D.DELETE_YN AS DELETE_YN,
		      U.NAME AS WRITERNAME,
		      U.TEAM_NO AS TEAM_NO,
		      T.TEAM_NAME AS WRITERTEAM,
		      DF.FILE_NAME AS FIRSTFILE,
		      DC.NAME AS CATEGORYNAME,
		      P.NAME AS securityLevelName,
		      COUNT(*) AS FILECNT
		    FROM DATAROOM D
		    JOIN MEMBER U ON D.WRITER_NO = U.NO
		    JOIN TEAM T ON U.TEAM_NO = T.TEAM_NO
		    JOIN DATAROOM_FILE DF ON D.DATA_NO = DF.DATA_NO
		    JOIN DATAROOM_CATEGORY DC ON D.CATEGORY_NO = DC.NO
		    JOIN POSITION P ON D.SECURITY_LEVEL = P.P_LEVEL
		    WHERE D.DELETE_YN = 'N'
		    AND CATEGORY_NO = #{categoryNo}
		    <if test="searchType == 'title'">
		      AND TITLE LIKE ('%'|| #{searchValue}|| '%')
		    </if>
		    <if test="searchType == 'writerName'">
		      AND U.NAME LIKE ('%'|| #{searchValue}|| '%')
		    </if>
		    <if test="searchType == 'securityLevelName'">
		      AND P.NAME LIKE ('%'|| #{searchValue}|| '%')
		    </if>
		    GROUP BY D.DATA_NO, D.WRITER_NO, D.CATEGORY_NO, D.SECURITY_LEVEL, D.TITLE, D.CONTENT, D.ENROLL_DATE, D.HIT, D.DELETE_YN, U.NAME, U.TEAM_NO, T.TEAM_NAME, DF.FILE_NAME, DC.NAME, P.NAME
		  )
	</select>


	<select id="getDataRoomList" resultType="DataRoomVo" parameterType="java.util.Map">
	
		  SELECT
		    D.DATA_NO,
		    MAX(D.WRITER_NO) AS WRITER_NO,
		    MAX(D.CATEGORY_NO) AS CATEGORY_NO,
		    MAX(D.SECURITY_LEVEL) AS SECURITY_LEVEL,
		    MAX(D.TITLE) AS TITLE,
		    MAX(D.CONTENT) AS CONTENT,
		    MAX(D.ENROLL_DATE) AS ENROLL_DATE,
		    MAX(D.HIT) AS HIT,
		    MAX(D.DELETE_YN) AS DELETE_YN,
		    MAX(U.NAME) AS WRITERNAME,
		    MAX(U.TEAM_NO) AS TEAM_NO,
		    MAX(T.TEAM_NAME) AS WRITERTEAM,
		    MAX(DF.FILE_NAME) AS FIRSTFILE,
		    MAX(DC.NAME) AS CATEGORYNAME,
		    MAX(P.NAME) AS securityLevelName,
		    COUNT(*) AS FILECNT
		  FROM DATAROOM D
		  JOIN MEMBER U ON D.WRITER_NO = U.NO
		  JOIN TEAM T ON U.TEAM_NO = T.TEAM_NO
		  JOIN DATAROOM_FILE DF ON D.DATA_NO = DF.DATA_NO
		  JOIN DATAROOM_CATEGORY DC ON D.CATEGORY_NO = DC.NO
		  JOIN POSITION P ON D.SECURITY_LEVEL = P.P_LEVEL
		  WHERE D.CATEGORY_NO = #{categoryNo}
		  AND D.DELETE_YN = 'N'
		  <if test="searchType == 'title'">
		    AND TITLE LIKE ('%'|| #{searchValue}|| '%')

		  </if>
		   <if test="searchType == 'writerName'">
		    AND U.NAME LIKE ('%'|| #{searchValue}|| '%')

		  </if>
		 
		  
		  <if test="searchType == 'securityLevelName'">
		    AND P.NAME LIKE ('%'|| #{searchValue}|| '%')

		  </if>
		  
		  GROUP BY D.DATA_NO
		  ORDER BY D.DATA_NO DESC
	
	</select>

	
	<insert id="writeDataroom">
	    INSERT INTO DATAROOM (
	      	DATA_NO
			,WRITER_NO
			,CATEGORY_NO
			,SECURITY_LEVEL
			,TITLE
			,CONTENT
			
	    )
	    VALUES (
	        SEQ_DATAROOM_NO.NEXTVAL
	        ,#{writerNo}
	        ,#{categoryNo}
	        ,#{securityLevel}
	        ,#{title}
	        ,#{content}
	    )
	</insert>
	
	<insert id="writeDataRoomFile">
	    INSERT INTO DATAROOM_FILE (
	      	NO
			,DATA_NO
			,FILE_NAME
			,CHANGE_NAME
			,FILE_EXPLAIN
			
	    )
	    VALUES (
	        SEQ_DATAROOM_FILE_NO.NEXTVAL
	        ,SEQ_DATAROOM_NO.CURRVAL
	        ,#{fileName}
	        ,#{changeName}
	        ,#{fileExplain}
	    )
	</insert>
	
	<select id="getDetailDrvo" resultType="DataRoomVo">
	    SELECT
		    D.DATA_NO,
		    MAX(D.WRITER_NO) AS WRITER_NO,
		    MAX(D.CATEGORY_NO) AS CATEGORY_NO,
		    MAX(D.SECURITY_LEVEL) AS SECURITY_LEVEL,
		    MAX(D.TITLE) AS TITLE,
		    MAX(D.CONTENT) AS CONTENT,
		    MAX(D.ENROLL_DATE) AS ENROLL_DATE,
		    MAX(D.HIT) AS HIT,
		    MAX(D.DELETE_YN) AS DELETE_YN,
		    MAX(U.NAME) AS WRITERNAME,
		    MAX(U.TEAM_NO) AS TEAM_NO,
		    MAX(T.TEAM_NAME) AS WRITERTEAM,
		    MAX(DF.FILE_NAME) AS FIRSTFILE,
		    MAX(DC.NAME) AS CATEGORYNAME,
		    MAX(P.NAME) AS securityLevelName,
		    COUNT(*) AS FILECNT
		FROM DATAROOM D
		JOIN MEMBER U ON D.WRITER_NO = U.NO
		JOIN TEAM T ON U.TEAM_NO = T.TEAM_NO
		JOIN DATAROOM_FILE DF ON D.DATA_NO = DF.DATA_NO
		JOIN DATAROOM_CATEGORY DC ON D.CATEGORY_NO = DC.NO
		JOIN POSITION P ON D.SECURITY_LEVEL = P.P_LEVEL
		WHERE D.DATA_NO = #{drvoNo}
		AND D.DELETE_YN = 'N'
		GROUP BY D.DATA_NO
		ORDER BY D.DATA_NO DESC
	    
	</select>
	
	<select id="getDetailDrfoList" resultType="DataRoomFileVo">
	    SELECT 
	    	NO
			,DATA_NO
			,FILE_NAME
			,CHANGE_NAME
			,FILE_EXPLAIN
			,ENROLL_DATE
	    
	    FROM DATAROOM_FILE
	    WHERE DATA_NO = #{drvoNo}
	</select>
	
	<update id="increaseHit">
  	UPDATE DATAROOM
  		SET
  			HIT = HIT + 1
  		WHERE DATA_NO = #{no}
    </update>
	

</mapper>
