<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  
  
	<select id="getNewList" resultType="MemberVo">
		SELECT 
		    u.NO,
		    u.TEAM_NO,
		    p.name AS POSITIONNAME,
		    u.ID,
		    u.PASSWORD,
		    u.NAME,
		    u.EMAIL,
		    u.IMAGE,
		    u.ENROLL_DATE,
		    u.STATUS,
		    u.CONTRACT_WORK_TIME,
		    u.CONTRACT_WORK_END_TIME,
		    u.SALARY,
		    t.TEAM_NAME AS TEAMNAME,
		    t.TEAM_ADDRESS AS TEAMADDRESS
		FROM 
		    member u
		JOIN 
		    POSITION p ON u.POSITION_NO = p.NO
		JOIN 
		    TEAM t ON u.TEAM_NO = t.TEAM_NO
		WHERE 
		    u.STATUS = 0

  	
	</select>
	
	<select id="getMemberList" resultType="MemberVo" parameterType="java.util.Map">
			SELECT 
		    u.NO,
		    u.TEAM_NO,
		    p.name AS POSITIONNAME,
		    u.ID,
		    u.PASSWORD,
		    u.NAME,
		    u.EMAIL,
		    u.IMAGE,
		    u.ENROLL_DATE,
		    u.STATUS,
		    u.CONTRACT_WORK_TIME,
		    u.CONTRACT_WORK_END_TIME,
		    u.SALARY,
		    t.TEAM_NAME AS TEAMNAME,
		     t.TEAM_ADDRESS AS TEAMADDRESS
		FROM 
		    member u
		JOIN 
		    POSITION p ON u.POSITION_NO = p.NO
		JOIN 
		    TEAM t ON u.TEAM_NO = t.TEAM_NO
		 WHERE u.STATUS = 1
			     <if test="searchType == 'teamName'">
			        AND t.TEAM_NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'positionName'">
			        AND p.NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'name'">
			        AND u.NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'id'">
			        AND '0' || u.ID LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'email'">
			        AND u.EMAIL LIKE ('%'|| #{searchValue} || '%')
			        </if>
	</select>
	
	<select id="getMemberCnt"  resultType="int" parameterType="java.util.Map">
	  	SELECT COUNT(NO)
			FROM (
			    SELECT
			        u.NO,
			        u.TEAM_NO,
			        p.name AS POSITIONNAME,
			        u.ID,
			        u.PASSWORD,
			        u.NAME,
			        u.EMAIL,
			        u.IMAGE,
			        u.ENROLL_DATE,
			        u.STATUS,
			        u.CONTRACT_WORK_TIME,
			        u.CONTRACT_WORK_END_TIME,
			        u.SALARY,
			        t.TEAM_NAME AS TEAMNAME,
			        COUNT(*) AS MEMCNT
			    FROM MEMBER U
			    JOIN POSITION p ON u.POSITION_NO = p.NO
			    JOIN TEAM t ON u.TEAM_NO = t.TEAM_NO
			    WHERE STATUS = 1
			
			    <if test="searchType == 'teamName'">
			        AND t.TEAM_NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'positionName'">
			        AND p.NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'name'">
			        AND u.NAME LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'id'">
			        AND '0' || u.ID LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    <if test="searchType == 'email'">
			        AND u.EMAIL LIKE ('%'|| #{searchValue} || '%')
			    </if>
			    GROUP BY u.NO, u.TEAM_NO, p.NAME, u.ID, u.PASSWORD, u.NAME, u.EMAIL, u.IMAGE, u.ENROLL_DATE, u.STATUS, u.CONTRACT_WORK_TIME, u.CONTRACT_WORK_END_TIME, u.SALARY, t.TEAM_NAME
			)
  	</select>
  	
  	<update id="acceptNewMember">
  		UPDATE member
		SET status = 1
		WHERE no = #{no}
  	</update>
  	

  	<select id="getDetail" resultType="MemberVo">
	  	SELECT 
		    u.NO,
		    u.TEAM_NO,
		    p.name AS POSITIONNAME,
		    u.ID,
		    u.PASSWORD,
		    u.NAME,
		    u.EMAIL,
		    u.IMAGE,
		    u.ENROLL_DATE,
		    u.STATUS,
		    u.CONTRACT_WORK_TIME,
		    u.CONTRACT_WORK_END_TIME,
		    u.SALARY,
		    t.TEAM_NAME AS TEAMNAME,
		     t.TEAM_ADDRESS AS TEAMADDRESS
		FROM 
		    member u
		JOIN 
		    POSITION p ON u.POSITION_NO = p.NO
		JOIN 
		    TEAM t ON u.TEAM_NO = t.TEAM_NO
		 WHERE u.NO = #{memberNo}
  	
	</select>


  	<insert id="join">
  		INSERT INTO MEMBER
	  		(NO,
	  		TEAM_NO,
	  		POSITION_NO,
	  		ID,
	  		PASSWORD,
	  		NAME,
	  		EMAIL,
	  		IMAGE,
	  		CHANGE_IMAGE
	  		)
  		VALUES(SEQ_MEMBER_NO.NEXTVAL , 
	  		#{teamNo} , #{positionNo} , #{id} ,
	  		#{password} , #{name} , #{email} , #{image}, #{changeImage})
  	</insert>
  	
  	
  	<select id="login" resultType="MemberVo">
  	SELECT 
		   *
	FROM
		member
	 WHERE ID = #{id}
  	
  	</select>
  	
  	<select id="findPwd" resultType="MemberVo">
  	
  		SELECT
  		 NO
	    ,TEAM_NO
	    ,POSITION_NO
	    ,ID
	    ,PASSWORD
	    ,NAME
	    ,EMAIL
	    ,IMAGE
	    ,ENROLL_DATE
	    ,STATUS
	    ,CONTRACT_WORK_TIME
	    ,CONTRACT_WORK_END_TIME
	    ,SALARY
		FROM MEMBER WHERE
		ID = #{id} AND EMAIL = #{email} AND STATUS = 0
  		
  	
  	</select>





</mapper>