<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">

	
	<select id="getMessage" resultType="com.hotelsolution.fire.common.chat.vo.MessageVo" parameterType="java.util.Map">
	    SELECT 
	        M.NO
	        ,M.CHAT_ROOM_NO AS CHATROOMNO
	        ,M.SENDER_NO AS SENDERNO
	        ,M.CONTENT 
	        ,M.ENROLL_DATE AS ENROLLDATE
	        ,CR.NO
	        ,CR.USER1_NO AS USER1NO
	        ,CR.USER2_NO AS USER2NO
	        ,CR.UPDATE_TIME1 AS UPDATETIME1
	        ,CR.UPDATE_TIME2 AS UPDATETIME2
	        ,U.NO 
	        ,U.TEAM_NO TEAMNO
	        ,U.POSITION_NO POSITIONNO
	        ,U.NAME AS SENDERNAME
	        ,P.NAME AS SENDERPOSITIONNAME
	        ,T.TEAM_NAME AS SENDERTEAMNAME
	    FROM MESSAGE M 
	    JOIN CHAT_ROOM CR
	    ON M.CHAT_ROOM_NO = CR.NO
	    JOIN MEMBER U
	    ON M.SENDER_NO=U.NO
	    JOIN POSITION P
	    ON U.POSITION_NO=P.NO
	    JOIN TEAM T
	    ON U.TEAM_NO=T.TEAM_NO
	    WHERE     
	  (CR.USER1_NO=#{user1No} AND CR.USER2_NO=#{user2No}) 
	        OR (CR.USER1_NO=#{user2No} AND CR.USER2_NO=#{user1No}) 
	    ORDER BY M.ENROLL_DATE ASC
	</select>
		
	<insert id="setMessageList" parameterType="java.util.Map">
		    INSERT INTO MESSAGE (
		      	NO
				,CHAT_ROOM_NO
				,SENDER_NO
				,CONTENT
				,ENROLL_DATE
				
		    )
		    VALUES (
		        SEQ_MESSAGE_NO.NEXTVAL
		        ,#{chatRoomNo}
		        ,#{senderNo}
		        ,#{content}
		        ,SYSDATE
		        
		    )
	</insert>
	<select id="checkCnt" resultType="int" parameterType="java.util.Map">
	
	
		SELECT COUNT(*) AS CNT
		FROM MESSAGE ME
		JOIN CHAT_ROOM CR ON CR.NO = ME.CHAT_ROOM_NO
		WHERE CR.NO = #{chatRoomNo}
		   <!--  AND ME.ENROLL_DATE >= TO_DATE('2023-08-08 18:09:22', 'YY/MM/DD HH24:MI:SS')
		    AND ME.ENROLL_DATE <= TO_DATE('2023-08-08 19:51:22', 'YY/MM/DD HH24:MI:SS') -->
           <![CDATA[AND ME.ENROLL_DATE <= #{currentTimestamp}]]>
		        <choose>
		            <when test="user1No == loginMemberNo">
		                <![CDATA[ AND ME.ENROLL_DATE >= #{updateTime1}]]>
		            </when>
		            <when test="user2No == loginMemberNo">
		               <![CDATA[ AND ME.ENROLL_DATE >= #{updateTime2}]]>
		            </when>
		        </choose>
	
</select>

	
	
</mapper>
