<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule">
	<insert id="create" parameterType="java.util.Map">
	    INSERT INTO SCHEDULE (
	        NO,
	        USER_NO,
	        SCHEDULE_TYPE_NO,
	        START_DATE,
	        END_DATE,
	        TITLE,
	        CONTENT
	    )
	    VALUES (
	        SEQ_SCHEDULE_NO.NEXTVAL,
	        #{loginMember.no},
	        #{vo.scheduleTypeNo},
	        TO_TIMESTAMP( #{vo.startDate}, 'YYYYMMDDHH24MISS'),
	        TO_TIMESTAMP(#{vo.endDate}, 'YYYYMMDDHH24MISS'),
	        #{vo.title},
	        #{vo.content}
	    )
	</insert>
	
	<delete id="deleteScheduleByNo" parameterType="java.util.Map">
	  	DELETE FROM SCHEDULE
	    WHERE NO = #{no}
	    AND USER_NO = #{loginMember.no}
	</delete>

	<update id="modify" parameterType="java.util.Map">
	  	UPDATE SCHEDULE
	    SET
	        START_DATE = #{data[0]},
	        END_DATE = #{data[1]}
	    WHERE USER_NO = #{loginMember.no}
	    AND TITLE = #{data[2]}
	</update>
	<select id="detailSchedule" resultType="ScheduleVo" parameterType="java.util.Map">
	  SELECT 
		    S.NO,
		    S.USER_NO,
		    S.SCHEDULE_TYPE_NO,
		    S.START_DATE,
		    S.END_DATE,
		    S.TITLE,
		    S.CONTENT,
		    M.NO,
		    M.TEAM_NO,
		    M.NAME AS WRITERNAME,
		    ST.NAME AS TYPENAME,
		    ST.COMMON_YN 
		FROM SCHEDULE S
		JOIN MEMBER M ON S.USER_NO = M.NO
		JOIN SCHEDULE_TYPE ST ON S.SCHEDULE_TYPE_NO = ST.NO
		WHERE S.START_DATE = #{startDate}
		AND S.END_DATE = #{endDate}
		AND S.TITLE = #{title}
		
	</select>
	<select id="getMySchedule" resultType="ScheduleVo">
	    SELECT  
	    	S.NO,
		    S.USER_NO,
		    S.SCHEDULE_TYPE_NO,
		    S.START_DATE,
		    S.END_DATE,
		    S.TITLE,
		    S.CONTENT,
		    M.NO,
		    M.TEAM_NO,
		    M.NAME AS WRITERNAME,
		    ST.NAME AS TYPENAME
		FROM SCHEDULE S
		JOIN MEMBER M ON S.USER_NO = M.NO
		JOIN SCHEDULE_TYPE ST ON S.SCHEDULE_TYPE_NO = ST.NO
		WHERE S.USER_NO = #{no}
		AND (S.SCHEDULE_TYPE_NO = 1
		OR S.SCHEDULE_TYPE_NO = 3
		OR S.SCHEDULE_TYPE_NO = 4)
	</select>
	
	<select id="getTeamSchedule" resultType="ScheduleVo">
	  SELECT 
		    S.NO,
		    S.USER_NO,
		    S.SCHEDULE_TYPE_NO,
		    S.START_DATE,
		    S.END_DATE,
		    S.TITLE,
		    S.CONTENT,
		    M.NO,
		    M.TEAM_NO,
		    M.NAME,
		    ST.NAME AS TYPENAME,
		    ST.COMMON_YN 
		FROM SCHEDULE S
		JOIN MEMBER M ON S.USER_NO = M.NO
		JOIN SCHEDULE_TYPE ST ON S.SCHEDULE_TYPE_NO = ST.NO
		WHERE M.TEAM_NO = #{teamNo}
		AND S.SCHEDULE_TYPE_NO = 2
		
	</select>
</mapper>
