<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
  
  <select id="titleList" resultType="SurveyDocVo">
	   SELECT NO, TITLE, TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') AS ENROLL_DATE
		FROM SURVEY_DOCUMENT
		<if test="searchValue != null and searchValue != '' ">
					where TITLE LIKE ('%'|| #{searchValue}|| '%')

		</if>
		ORDER BY NO DESC
		

  
  </select>
  
   <select id="getRecentSurveyQnAList" resultType="SurveyDocVo">
	    SELECT NO, TITLE, TO_CHAR(ENROLL_DATE, 'YY.MM.DD') AS ENROLL_DATE
		FROM SURVEY_DOCUMENT
		ORDER BY NO DESC

  
  </select>
 

    <insert id="insertDocument" parameterType="java.util.Map">
    
        INSERT INTO survey_document (no, title) VALUES (SEQ_SURVEY_DOCUMENT_NO.NEXTVAL, #{title})
       
    </insert>
	<insert id="insertQuestions">
	    INSERT INTO survey_question 
	    	(
	    		no
	    		, survey_no
	    		, question
	    	)
    	VALUES 
    	
 			(
 				SEQ_SURVEY_QUESTION_NO.NEXTVAL
 				, SEQ_SURVEY_DOCUMENT_NO.CURRVAL
 				,#{question}
        	)
        
   
	</insert>
	
	<select id="getSurveyCnt" resultType="int">
	  	SELECT COUNT(NO)
	  	FROM SURVEY_DOCUMENT
	  	<if test="searchValue != null and searchValue != '' ">
				where TITLE LIKE ('%'|| #{searchValue}|| '%')

		</if>
  	
  	</select>
  	<select id="getAnswerCnt" resultType="int">
	  SELECT COUNT(A.NO)
		    FROM ANSWER A
		    JOIN SURVEY_QUESTION SQ ON A.QUESTION_NO = SQ.NO
		    JOIN SURVEY_DOCUMENT SD ON SQ.SURVEY_NO = SD.NO
		    WHERE SD.NO = #{NO}
	  	
  		
  	</select>
  	
  	<select id="geteQuestionList" resultType="SurveyQuestionVo">
  		 SELECT * 
		 FROM SURVEY_QUESTION
		 WHERE SURVEY_NO = #{no}
	     ORDER BY no ASC
  	
  	</select>

	<select id="answerByOneQuestion" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
	     ORDER BY no ASC
  	
	</select>
	
	<select id="answerByOneQuestionByUser" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
		 AND ANSWERER = #{answerer}
	     ORDER BY no ASC
  	
	</select>
	
	<select id="getSurveySelectQnaTotalList" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
	     ORDER BY no ASC
  	
	</select>
	




</mapper>