<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="survey">
  
  <select id="titleList" resultType="SurveyDocVo">
	   SELECT NO, TITLE, TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') AS ENROLL_DATE
		FROM SURVEY_DOCUMENT
		<if test="searchValue != null and searchValue != '' ">
					where TITLE LIKE ('%'|| #{searchValue}|| '%')

		</if>
		ORDER BY NO DESC
		

  
  </select>
  <select id="newTitleList" resultType="SurveyDocVo" parameterType="java.util.Map">
  
  						
	           SELECT DISTINCT SD.NO, SD.TITLE, TO_CHAR(SD.ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') AS ENROLL_DATE
				FROM SURVEY_DOCUMENT SD
				JOIN SURVEY_QUESTION SQ ON SD.NO = SQ.SURVEY_NO
				WHERE (SD.NO, SQ.NO) NOT IN (
				    SELECT SD.NO, SQ.NO
				    FROM SURVEY_DOCUMENT SD
				    JOIN SURVEY_QUESTION SQ ON SD.NO = SQ.SURVEY_NO
				    JOIN ANSWER A ON SQ.NO = A.QUESTION_NO
				    WHERE A.Answerer = #{no}
				    <if test="searchValue != null and searchValue != '' ">
									and SD.TITLE LIKE ('%'|| #{searchValue}|| '%')
				
						</if>
				)
				 <if test="searchValue != null and searchValue != '' ">
									and SD.TITLE LIKE ('%'|| #{searchValue}|| '%')
				
						</if>
				ORDER BY NO DESC
	
  
  </select>
  
   <select id="getRecentSurveyQnAList" resultType="SurveyDocVo">
	    SELECT NO, TITLE, TO_CHAR(ENROLL_DATE, 'YY.MM.DD') AS ENROLL_DATE
		FROM SURVEY_DOCUMENT
		ORDER BY NO DESC

  
  </select>
 <select id="getNewQuestionList" resultType="SurveyQuestionVo" parameterType="java.util.Map">
    SELECT DISTINCT SQ.NO AS NO
    , SQ.SURVEY_NO AS SURVEYNO
    , SQ.QUESTION AS QUESTION
    , SD.TITLE AS TITLE
    FROM SURVEY_QUESTION SQ
    JOIN SURVEY_DOCUMENT SD
    ON SQ.SURVEY_NO = SD.NO
    WHERE (SQ.NO, SQ.SURVEY_NO) NOT IN (
        SELECT SQ.NO, SQ.SURVEY_NO
	    FROM SURVEY_QUESTION SQ
	    JOIN ANSWER A ON SQ.NO = A.QUESTION_NO
        WHERE A.ANSWERER = #{loginMemberNo}
        <if test="surveyDocNo != null and surveyDocNo != ''">
            AND SQ.SURVEY_NO = #{surveyDocNo}
        </if>
    )
    <if test="surveyDocNo != null and surveyDocNo != ''">
        AND SQ.SURVEY_NO = #{surveyDocNo}
    </if>
    ORDER BY SQ.NO
</select>


 

    <insert id="insertDocument" parameterType="java.util.Map">
    
        INSERT INTO survey_document (no, title) VALUES (SEQ_SURVEY_DOCUMENT_NO.NEXTVAL, #{title})
       
    </insert>
    <insert id="write" parameterType="java.util.Map">
    
        INSERT INTO answer (no, question_no,answerer,answer) VALUES (SEQ_answer_NO.NEXTVAL, #{no},#{loginMember.no},#{answer})
       
    </insert>
	<insert id="insertQuestions">
	    INSERT INTO survey_question 
	    	(
	    		no
	    		, survey_no
	    		, question
	    	)
    	VALUES 
    	
 			(
 				SEQ_SURVEY_QUESTION_NO.NEXTVAL
 				, SEQ_SURVEY_DOCUMENT_NO.CURRVAL
 				,#{question}
        	)
        
   
	</insert>
	
	<select id="getSurveyCnt" resultType="int">
	  	SELECT COUNT(NO)
	  	FROM SURVEY_DOCUMENT
	  	<if test="searchValue != null and searchValue != '' ">
				where TITLE LIKE ('%'|| #{searchValue}|| '%')

		</if>
  	
  	</select>
  	<select id="getAnswerCnt" resultType="int" parameterType="java.util.Map">
	  SELECT COUNT(A.NO)
		    FROM ANSWER A
		    JOIN SURVEY_QUESTION SQ ON A.QUESTION_NO = SQ.NO
		    JOIN SURVEY_DOCUMENT SD ON SQ.SURVEY_NO = SD.NO
		    WHERE A.ANSWERER = #{no}
		   <if test="surveyNo != null and surveyNo != '' ">
				and SD.NO = #{surveyNo}

		</if>
	  	
  		
  	</select>
  	
  	<select id="getAnswerCnt2" resultType="int" parameterType="java.util.Map">
	  SELECT COUNT(A.NO)
		    FROM ANSWER A
		    JOIN SURVEY_QUESTION SQ ON A.QUESTION_NO = SQ.NO
		    JOIN SURVEY_DOCUMENT SD ON SQ.SURVEY_NO = SD.NO
		    
		   <if test="surveyNo != null and surveyNo != '' ">
				WHERE SD.NO = #{surveyNo}

		</if>
	  	
  		
  	</select>
  	
  	<select id="geteQuestionList" resultType="SurveyQuestionVo">
  		 SELECT * 
		 FROM SURVEY_QUESTION
		 WHERE SURVEY_NO = #{no}
	     ORDER BY no ASC
  	
  	</select>

	<select id="answerByOneQuestion" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
	     ORDER BY no ASC
  	
	</select>
	
	<select id="answerByOneQuestionByUser" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
		 AND ANSWERER = #{answerer}
	     ORDER BY no ASC
  	
	</select>
	
	<select id="getSurveySelectQnaTotalList" resultType="SurveyAnswerVo">
		 SELECT NO
			,QUESTION_NO
			,ANSWERER
			,ANSWER
		 FROM ANSWER
		 WHERE QUESTION_NO = #{no}
	     ORDER BY no ASC
  	
	</select>
	




</mapper>