<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamChat">

	
	<select id="getHsChatList" resultType="com.hotelsolution.fire.common.chat.vo.TeamChatMessageVo">
		 SELECT 
			TC.NO AS NO, 
			TC.SENDER_NO AS SENDERNO,
			TC.TEAM_CHAT_NO AS TEAMCHATNO,
			TC.CONTENT AS CONTENT,
			TC.ENROLL_DATE AS ENROLLDATE,
			TCR.TEAM_CHAT_NO AS TEAMCHATROOMNO,
			TCR.NAME AS TEAMCHATROOMNAME,
			M.NAME AS SENDERNAME,
			M.TEAM_NO,
			M.POSITION_NO,
			P.NAME AS SENDERPOSITIONNAME,
			T.TEAM_NAME AS SENDERTEAMNAME
			
	    FROM TEAM_CHAT TC
	    JOIN TEAM_CHAT_ROOM TCR 
	    ON TC.TEAM_CHAT_NO = TCR.TEAM_CHAT_NO
	    JOIN MEMBER M
	    ON TC.SENDER_NO=M.NO
	    JOIN POSITION P 
	    ON M.POSITION_NO = P.NO
	    JOIN TEAM T
	    ON M.TEAM_NO = T.TEAM_NO
	    WHERE TC.TEAM_CHAT_NO = 0
	    order by no asc
	</select>
	
	<select id="getTeamChatList" resultType="com.hotelsolution.fire.common.chat.vo.TeamChatMessageVo">
		 SELECT 
			TC.NO AS NO, 
			TC.SENDER_NO AS SENDERNO,
			TC.TEAM_CHAT_NO AS TEAMCHATNO,
			TC.CONTENT AS CONTENT,
			TC.ENROLL_DATE AS ENROLLDATE,
			TCR.TEAM_CHAT_NO AS TEAMCHATROOMNO,
			TCR.NAME AS TEAMCHATROOMNAME,
			M.NAME AS SENDERNAME,
			M.TEAM_NO,
			M.POSITION_NO,
			P.NAME AS SENDERPOSITIONNAME,
			T.TEAM_NAME AS SENDERTEAMNAME
			
	    FROM TEAM_CHAT TC
	    JOIN TEAM_CHAT_ROOM TCR 
	    ON TC.TEAM_CHAT_NO = TCR.TEAM_CHAT_NO
	    JOIN MEMBER M
	    ON TC.SENDER_NO=M.NO
	    JOIN POSITION P 
	    ON M.POSITION_NO = P.NO
	    JOIN TEAM T
	    ON M.TEAM_NO = T.TEAM_NO
	    WHERE TC.TEAM_CHAT_NO = #{teamNo}
	    order by no asc
	</select>
	
	<insert id="setHsChatList" parameterType="java.util.Map">
	    INSERT INTO TEAM_CHAT (
	      	NO,
			SENDER_NO,
			TEAM_CHAT_NO,
			CONTENT,
			ENROLL_DATE
			
	    )
	    VALUES (
	        SEQ_TEAM_CHAT_NO.NEXTVAL
	        ,#{senderNo}
	        ,#{teamChatNo}
	        ,#{content}
	        ,SYSDATE
	    )
	</insert>
	
	<select id="getTvo" resultType="com.hotelsolution.fire.member.vo.TeamVo">
		select * from Team
	
	</select>
	
	<select id="getPvo" resultType="com.hotelsolution.fire.member.vo.PositionVo">
		select * from Position
	
	</select>
	
	<select id="searchMember" resultType="MemberVo"   parameterType="java.util.Map">
		select 
			u.NO
  			,u.TEAM_NO TEAMNO
  			,u.POSITION_NO AS POSITIONNO
  			,p.name AS POSITIONNAME
  			,u.ID
  			,u.PASSWORD
  			,u.NAME
  			,u.EMAIL
  			,u.IMAGE
  			,u.ENROLL_DATE
  			,u.STATUS
  			,u.CONTRACT_WORK_TIME
  			,u.CONTRACT_WORK_END_TIME
  			,u.SALARY
  			,u.CHANGE_IMAGE AS CHANGEIMAGE
  			,t.TEAM_NAME AS TEAMNAME
  			,t.TEAM_ADDRESS AS TEAMADDRESS
  			
  			FROM
  			member u
  			JOIN POSITION p
  			ON u.POSITION_NO = p.NO
  			JOIN TEAM t 
  			ON u.TEAM_NO = t.TEAM_NO
  			where u.status != 0
	  <choose>
  		<when test="teamNo !=null and positionNo != null">
			        AND u.TEAM_NO = #{teamNo} AND u.POSITION_NO = #{positionNo}
	  </when>
	  
  		<when test="searchType == 'POSITIONNAME'">
			        AND p.name LIKE ('%'|| #{searchValue} || '%')
		</when>
		
	    <when test="searchType == 'teamName'">
			        AND t.TEAM_NAME LIKE ('%'|| #{searchValue} || '%')
	    </when>
	    <when test="searchType == 'name'">
			        AND u.NAME LIKE ('%'|| #{searchValue} || '%')
	    </when>
	    </choose>
	</select>

</mapper>
