<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="useBook">

<select id="bookCheck" resultType="UseBookVo">

	SELECT ROOM_INT_NO FROM BOOK_LIST
	WHERE (
    START_DATE &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD')-1
    AND END_DATE-1 &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD'))
    ORDER BY ROOM_INT_NO ASC

</select>

<select id="getRoomList" resultType="UseBookVo">
	
	SELECT 
	I.ROOM_INT_NO,
	I.TYPE_NO,
	I.STATUS_NO,
	I.INTRODUCE,
	I.ROOM_NO,
	I.IMG,
	T.TYPE_NO,
	T.TYPE_NAME,
	T.COMMON_PRICE,
	(TO_DATE(#{endDate}, 'YYYY-MM-DD') - TO_DATE(#{startDate}, 'YYYY-MM-DD'))*T.COMMON_PRICE AS TOTAL_PRICE
	FROM ROOM_INTRODUCE I 
	JOIN ROOM_TYPE T ON I.TYPE_NO = T.TYPE_NO
	WHERE STATUS_NO=1
	<if test="searchType != null and searchType != 0 ">
		AND T.TYPE_NO = #{searchType}
	</if>
	<if test="no!=null">
		AND I.ROOM_INT_NO = #{no}
	</if>
	ORDER BY ROOM_INT_NO ASC

</select>

<select id="getRoomCnt" resultType="int">

	SELECT
	COUNT(ROOM_INT_NO)
	FROM ROOM_INTRODUCE
	WHERE STATUS_NO=1
	
	
</select>


<insert id="setGuest">

	INSERT INTO ROOM_GUEST(GUEST_NO, NAME,PHONE_NUMBER,GENDER,AGE,NATIONALLITY)
	VALUES(SEQ_ROOM_GUEST_NO.NEXTVAL,#{name},#{phone},#{sex},#{age},#{country})

</insert>


<select id="getGuest" resultType="Int">
	
	SELECT GUEST_NO FROM ROOM_GUEST
	WHERE NAME = #{name}
	AND PHONE_NUMBER = #{phone}
	

</select>

<insert id="useBook">

	INSERT INTO BOOK_LIST(NO,GUEST_NO,ROOM_INT_NO,BOOK_DATE,START_DATE,END_DATE,USER_NO,PRICE)
	VALUES(SEQ_BOOK_LIST_NO.NEXTVAL,#{guestNo},#{roomIntNo},SYSDATE,#{startDate},#{endDate},#{memberNo},#{totalPrice})

</insert>

<select id="getBookListNo" resultType="Int">

	SELECT NO FROM BOOK_LIST
	WHERE GUEST_NO = #{guestNo}
	AND ROOM_INT_NO = #{roomIntNo}
	AND START_DATE = #{startDate}
	AND END_DATE = #{endDate}

</select>	
	
<insert id="setRoomUse">

	INSERT INTO ROOM_USE (ROOM_USE_NO,BOOK_NO,CHECK_IN_TIME)
	VALUES (SEQ_ROOM_USE_NO.NEXTVAL,#{roomUseNo},SYSDATE)
	
</insert>


</mapper>
