<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="workout">
  
  
	<insert id="recordStartTime" parameterType="java.util.Map">
			
			INSERT INTO COMMUTE_RECORD 
			(NO, 
			USER_NO ,
			WORK_START_TIME,
            DAY_OF_WEEK)
		VALUES
			(SEQ_COMMUTE_RECORD_NO.NEXTVAL
			,#{no}
			,#{currentTimestamp}
            ,#{currentDayOfWeek})
	
	</insert>
	
	<select id="getCommuteRecordNo" resultType="com.hotelsolution.fire.workout.vo.WorkoutVo">
		
		SELECT * FROM COMMUTE_RECORD
		WHERE USER_NO = #{no}
		ORDER BY NO DESC
		FETCH FIRST ROW ONLY
	
	</select>
	
	<update id="recordEndTime" parameterType="java.util.Map">
	
		UPDATE COMMUTE_RECORD SET
		WORK_END_TIME = #{currentTimestamp}
		WHERE NO = #{workoutNo}
	</update>
	
	<select id="getStartTime" resultType="java.util.Date">
	    SELECT WORK_START_TIME
	    FROM COMMUTE_RECORD
	    WHERE NO = #{workoutNo}
	    AND WORK_START_TIME IS NOT NULL
	    ORDER BY WORK_START_TIME DESC
	    FETCH FIRST ROW ONLY
	</select>

	<select id="getEndTime" resultType="java.util.Date">
	    SELECT WORK_END_TIME
	    FROM COMMUTE_RECORD
	    WHERE NO = #{workoutNo}
	    AND WORK_END_TIME IS NOT NULL
	    ORDER BY WORK_END_TIME DESC
	    FETCH FIRST ROW ONLY
	</select>
	
	<update id="totalWorkHours" parameterType="java.util.Map">
	
		UPDATE COMMUTE_RECORD SET
		TOTAL_WORK_HOURS = #{tworkM}
		WHERE NO = #{workoutNo}
	
	</update>
	
	<select id="getWorkOutVoListByWeek" resultType="com.hotelsolution.fire.workout.vo.WorkoutVo" parameterType="java.util.Map">
		select * from commute_record 
       where USER_NO = #{no}
       AND WORK_END_TIME <![CDATA[ <= ]]>  #{currentTimestamp}
       AND WORK_START_TIME <![CDATA[ >= ]]>  #{sevenDaysAgoTimestamp}
      
	</select>



</mapper>