.main-horizon-line{
    border: 1.5px solid black;
}

.main-board-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.weekly-board-list{
    width: 30%;
}

.table-responsive{
    min-height: 600px;
}

.page-area{
    display: flex;
    justify-content: center;
    gap : 10px;
}



