.main {
    width: 100%;
    height: 100%;
}

.main-container{
    width: 100%;
    height: 100%;
    background-color: #dedede;
    display: flex;
}

.write-btn{
    margin-left: 40px;
    margin-top: 20px;
}

.mail-horizion{
    margin-left: 40px;
    margin-top: 20px;
    width: 1400px;
    border: 1px solid black;
}

.mailCntAndSearchContainer{
    margin-left: 40px;
    margin-top: 20px;
    width: 1400px;
    height: 100px;
}

.mail-content-list{
    margin-left: 40px;

}


